#discordance select, #discordance textarea {
    overflow: auto;
}

#discordance textarea:focus {
    color: var(--bs-primary);
    border-color: var(--bs-primary);
}

#discordance textarea#webhooks {
    line-height: 2.5;
    white-space: nowrap;
    overflow-x: auto !important;
}

#discordance input[type=checkbox]:checked::before {
    display: none;
}